
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CUSTOMERS</h2>


<p>
    @Html.ActionLink("Add a new customer", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover table-condensed" id="customers">
    <thead>
        <tr>
            <th><h2 class="text-info">Customer</h2></th>
            <th><h2 class="text-info">Membership</h2></th>
            <th><h2 class="text-info">Delete</h2></th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {

          var table =   $("#customers").DataTable({
                ajax: {
                    url: "/API/customers",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data,type,customer) {
                            return "<a href='/customer/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                       
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link' id='js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", "#js-delete",function () {
                var button = $(this);
                bootbox.confirm("Are you sure to delete this customer ? ", function (result) {
                    if (result) {
                        
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }

                        });

                    }
                });

            });
        });
    </script>
}