
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>



<table class="table table-hover table-bordered table-condensed" id="movies" >
    <thead>
        <tr>
          <th><h2 class="text-info">Movie </h2></th>
          <th>  <h2 class="text-info">Genre </h2></th>
         
        </tr>
    </thead>
    <tbody>

    </tbody>
   
</table>

@section scripts {
    
    <script>

        $(document).ready(function () {

            var table = $("#movies").DataTable({
                ajax: {
                    url: "/API/Movies",
                    dataSrc: ""
                },
                columns: [

                    {
                        data: "name"
                        
                        
                    },
                    {
                        data: "genre.type"
                    }
                  

                ]
                

            });





         









        });



    </script>
    
    
    }